In [1]:
import json
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder

In [2]:
content = []
with open("../../news_dataset.json", 'r') as fp:
    for fp_line in fp:
        content.append(json.loads(fp_line))

In [3]:
dataset_df = pd.DataFrame(content)[['short_description', 'category']]

In [4]:
dataset_df.to_csv('dataset/tweet_dataset.csv', index=False)

In [5]:
dataset_df

                                        short_description   category
0       Health experts said it is too early to predict...  U.S. NEWS
1       He was subdued by passengers and crew when he ...  U.S. NEWS
2       "Until you have a dog you don't understand wha...     COMEDY
3       "Accidentally put grown-up toothpaste on my to...  PARENTING
4       Amy Cooper accused investment firm Franklin Te...  U.S. NEWS
...                                                   ...        ...
209522  Verizon Wireless and AT&T are already promotin...       TECH
209523  Afterward, Azarenka, more effusive with the pr...     SPORTS
209524  Leading up to Super Bowl XLVI, the most talked...     SPORTS
209525  CORRECTION: An earlier version of this story i...     SPORTS
209526  The five-time all-star center tore into his te...     SPORTS

[209527 rows x 2 columns]

In [6]:
dataset_df.to_csv('dataset/tweet_dataset.csv', index=False)